<html>
    <head>
        <title>Wikipedia Graph Net</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    </head>
    <body>
        <div class="container">
            <h1>Wikipedia Graph Net</h1>
            {% if length == 1 %}
            <p>There is {{length}} article between the two articles. </p>
            {% else %}
            <p>There are {{length}} articles between the two articles. </p>
            {% endif %}

            {% for element in data %}
            <div class = "bubble">
                <a href= {{links[element]}}> {{element}}</a>
                <br>
                <i class = "arrow down"></i>
                <br>
            </div>
            {% endfor %}
        </div>
    </body>
</html>