<html>
    <head>
        <title>WikiRacer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    </head>
    <body>
        <div class="container">
          <h1>Wikipedia Graph Net</h1>
            <p>Find the distance between any two Wikipedia Articles!</p>
            <p>
              Inputs are <b>case sensitive</b> and should be the <b>title</b> of the Wikipedia articles, not their actual links.
                Use <b>BFS</b> until the other heuristics are updated to work correctly.
            </p>
            <form role="form" method='POST' action='/'>

              <div class = inputHeader><label for="fname">Starting Article:</label></div>
              <div class="form-group">
                <input type="text" name="start" class="form-control" id="start-box" autofocus required>
              </div>

              <div class = inputHeader><label for="fname">Target Article:</label></div>
              <div class="form-group">
                <input type="text" name="end" class="form-control" id="end-box" autofocus required>
              </div>

                <input type="submit" class="btn" value="BFS" name="action1" />
                <input type="submit" class="btn" value="Intro Semantic" name="action2" />
                <input type="submit" class="btn" value="Article Semantic" name="action2" />
            </form>
            <br>
            <h4>{{ start }}</h4>
        </div>
    </body>
</html>